.addCard__form {
    padding: 30rpx 0;
}

.ipt {
    position: relative;
}

.btnCode {
    position: absolute;
    width: 180rpx;
    text-align: center;
    top: 0;
    right: 0;
    height: 77rpx;
    line-height: 77rpx;
    background: #f4f7fc;
}