.uploadSection {
    padding-bottom: 20rpx;
}

.btn-add {
    display: block;
    margin: 0 auto;
    width: 400rpx;
    line-height: 70rpx;
    font-size: 32rpx;
    text-align: center;
    color: #ff5c29;
    border-radius: 8rpx;
    border: 1px solid #ff5c29;
}

.btn-add img {
    display: inline-block;
    height: 26rpx;
    width: 26rpx;
    vertical-align: middle;
    margin-right: 10rpx;
}