.addCard__form2 {
    background: none;
    color: #5c5c5c;
}

.addCard__form2 .weui-cell::before {
    display: none;
}

.addCard__form2 .weui-cell {
    margin-top: 20rpx;
    background: #fff;
}

.addCard__form2 .weui-label {
    width: 160rpx;
    display: block;
}