.levelPanel .txtBox {
    color: #999;
}

.levelPanel .txtBox .title {
    color: #000;
}

.levelPanel .txtBox .status {
    color: #ff662a;
}

.levelPanel .item .outside .pictrueAll {
    width: 20%;
}
.btnCopy2 {
    font-size: 23rpx; 
    border: 1px solid #ff662a;
    border-radius:25rpx;
    color: #ff662a;
    padding: 0 18rpx;
    display: block;
    width:50rpx;
    float:right;
    overflow: hidden;
}
.statusIcon2{
    width:52rpx;
    height:52rpx;
}