/* 订单详情 */

.orderAddr {
    margin-bottom: 20rpx;
}

.orderStatus {
    background: #ff662a;
    font-size: 36rpx;
    color: #fff;
    padding: 50rpx 30rpx;
    text-align: center;
}

.newsLogistics {
    padding: 30rpx;
}

.newsLogistics .icon_xiaoche {
    width: 54rpx;
    height: 54rpx;
    margin-right: 20rpx;
}

.newsLogistics .txt {
    font-size: 30rpx;
    color: #ff662a;
}

.newsLogistics .time {
    font-size: 28rpx;
    color: #999;
}

.addressList .item {
    padding: 30rpx;
    border-top: 1px solid #e5e5e5;
    margin-top: 0;
}

.addressList .addrIcon {
    width: 54rpx;
    height: 54rpx;
    margin-right: 20rpx;
}

.addressList .item__bd {
    padding: 0;
}

.levelPanel .item {
    padding: 10rpx 0;
    margin-bottom: 0;
}

.goodsContent {
    margin-bottom: 20rpx;
}

.orderInfo {
    padding: 20rpx 0 20rpx 0;
}

.orderInfo .orderInfo__hd {
    margin-bottom: 10rpx;
}

.orderInfo__bd {
    padding: 0 30rpx;
    line-height: 1.5;
}

.orderInfo__bd .item {
    margin-bottom: 10rpx;
    color: #999999;
}

.kfIcon {
    width: 40rpx;
    height: 40rpx;
    vertical-align: middle;
    margin-right: 16rpx;
}


