.down{
   width:16rpx;
   height:11rpx; 
}
.orderlist {
    margin-top: 30rpx;
    height:calc(100vh - 80rpx);
    .itemname {
        color: #1a1a1a;
        font-size:32rpx;
    }
    .active{

    }
    .item{
        &>p{
            font-size:25rpx;    
        }
    }
}

.ordertitle {
    font-size: 30rpx;
    margin-bottom: 15rpx;
}

.blue {
    background: #3f8bfe;
    color: #fff;
    font-size: 30rpx;
    padding: 10rpx 25rpx;
    border-radius: 25rpx;
}
.active {
    color: #ff6325
}

 .item {
    margin-bottom: 20rpx;
    background: #fff;
}

.item p {
    margin-bottom: 5rpx;
} 
.installbox {
    color: #797979;
    font-size: 28rpx;
}
// .orderStatu{
//     background:#fff;
//     height:300rpx;
//     top:100rpx;
// }

.menuActive{
    color:#3f8bfe;
    border-bottom: 4rpx solid #3f8bfe;
}
.titleActive{
    color:#3f8bfe
}
.menu{
    font-weight:bold;
    color:#1a1a1a;
}
.menu p{
    padding:20rpx 35rpx;
}
.orderCity{
    background:#fff;
    height:700rpx;
    top:100rpx;
    font-size:30rpx;
    .city{
        color:#1a1a1a;
        p{
            padding:30rpx 0;
        }
    }
}
.plr20{
    padding:0 20rpx;
}.p30{
    padding:30rpx;
}
// .active2{
//     background:#f77f4f;
//     color:#fff!important;
// }
.orderStatu p{
    padding:20rpx 100rpx;
    color:#666666;
    display: flex;
    justify-content: space-between;
    border-top:1rpx solid #f5f5f5
}
// .orderStatu p:not(:last-child){
//     border-bottom:1rpx solid #f5f5f5
// }
.arrow_check{
    width:25rpx;
    height:12rpx;
    border:5rpx solid #ff6325;
    border-top:3rpx solid transparent;
    border-right:3rpx solid transparent;
    transform: rotate(-45deg)
}
.masktip{
    justify-content: space-between;
    color:#ff6325;
    padding:30rpx 20rpx;
}