.levelPanel .txtBox {
    color: #999;
}

.levelPanel .txtBox .title {
    color: #000;
}

.levelPanel .txtBox .status {
    color: #ff662a;
}

.levelPanel .item .outside .pictrueAll {
    width: 20%;
}