.page {
    height: 100vh;
}

.tabContent {
    height: calc(100vh-88rpx);
    overflow: hidden;
    overflow-y: auto;
    // padding-top:110rpx
}

.outside {
    align-items: flex-start!important
}

.remove {
    font-size: 30rpx;
    color: #fff;
    line-height: 38rpx;
    border-radius: 50%;
    margin: 0 10rpx;
    background: #bbb;
    width: 40rpx;
    height: 40rpx;
    text-align: center;
}