/* 这个项目是从这里开始的 */


/* 内部师傅的提交审核 */

.eaditFrom .weui-label {
    display: block;
    width: 120rpx;
}

.eaditFrom .weui-input {
    border: 1px solid #f2f2f2;
    border-radius: 8rpx;
    padding: 12rpx 20rpx;
}


/* 客户的查看进度 */

.schedule {
    background: #fff;
    padding: 50rpx 20rpx 30rpx;
}

.schedule .item {
    color: #999;
}

.schedule .item .time {
    width: 100rpx;
    text-align: right;
    font-size: 24rpx;
    margin-right: 50rpx;
    line-height: 1.2;
}

.schedule .item .right {
    padding-left: 50rpx;
    font-size: 26rpx;
    border-left: 1px solid #e0e0e0;
    overflow: visible;
    padding-bottom: 48rpx;
}

.schedule .item .status {
    font-size: 34rpx;
    padding-bottom: 10rpx;
}

.schedule .item .txtBox {
    position: relative;
}

.schedule .item .statusIcon {
    width: 60rpx;
    height: 60rpx;
    position: absolute;
    left: -82rpx;
}

.schedule .item .txtBox::before,
.schedule .item .txtBox:after {
    position: absolute;
    content: "";
    left: -60rpx;
    z-index: 4;
}

.schedule .item.small .txtBox::before {
    width: 18rpx;
    height: 18rpx;
    border-radius: 50%;
    background: #cecece;
    top: 10rpx;
}

.schedule .item.active {
    color: #000;
}

.schedule .item.active .time .date {
    font-size: 30rpx;
}

.schedule .item.small.active .txtBox::before {
    background: #ff662a;
}

.schedule .item:last-child .right {
    border-left: none;
}

.schedule .item:last-child .txtBox:after {
    width: 1px;
    background: #e0e0e0;
    height: 20rpx;
    top: -10rpx;
    z-index: 3;
    left: -50rpx;
}


/* 收货地址 */

.addImg {
    width: 40rpx;
    height: 40rpx;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10rpx;
}

.addressList .item {
    background-color: #fff;
    margin-top: 20rpx;
}

.addressList .item .item__bd {
    padding: 30rpx 20rpx;
}

.addressList .item .item__bd .remarks {
    font-size: 30rpx;
}

.addressList .item .item__bd .remarks .tel {
    color: #999;
    margin-left: 20rpx;
}

.addressList .item .item__bd .address {
    font-size: 28rpx;
    color: #333333;
    line-height: 1.4;
    margin-top: 6rpx;
}

.addressList .item .item__bd .type {
    color: #999;
}

.addressList .item .item__ft {
    border-top: 1px solid #f2f2f2;
    padding: 10rpx 20rpx;
    line-height: 60rpx;
    color: #999999;
}

.addressList .item .item__ft .checked {
    color: #3f8bfe;
}

.addressList .item .item__ft .iconText {
    margin-left: 30rpx;
}

.addressList .item__ft .iconText .icon {
    width: 36rpx;
    height: 36rpx;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8rpx;
}

.addAddress__weui-cells .weui-cell:before {
    left: 0;
    right: 0;
}

.addAddress__weui-cells .weui-label {
    width: 170rpx;
    display: block;
}

.addAddress__weui-cells .weui-area {
    height: 100rpx;
    line-height: 1.8;
}


/* 遮罩 */

.shadeAll {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2000;
    height: 100%;
    top: 0;
}

.shadeAll .mask {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 40;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
}

.shadeAll .shade {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 20;
    z-index: 40;
    height: 100%;
    top: 0;
    display: inherit;
}

.shadeAll .shade.alignCenter__shade {
    display: table;
}

.shadeAll .shade.alignCenter__shade .shade__bd {
    display: table-cell;
    vertical-align: middle;
}

.shadeAll .shade.alignCenter__shade .shade__bd .shadeContent {
    background-color: #fff;
}

.shadeAll .shade.alignBottom__shade .shade__bd {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 750px;
    margin: 0 auto;
    background-color: #fff;
}

.shadeAll .shadeContent__bd {
    max-height: 60vh;
    overflow: hidden;
    overflow-y: auto;
}

.shadeAll .shadeContent__hd {
    font-size: 36rpx;
    color: #333;
    line-height: 90rpx;
    border-bottom: 1px solid #EEEEEE;
}

.shadeAll .shadeContent__hd .title {
    line-height: 90rpx;
    display: inline-block;
    vertical-align: top;
    max-width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}