.sum {
    color: #fff;
    background: linear-gradient(180deg, #5aa7fb, #6684f5);
    height: 300rpx;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    .score {
        font-size: 50rpx;
    }
}

.scorelist .scoreitem:first-child {
    padding-top: 50rpx;
}