.sum{
    color:#fff;
    background:linear-gradient(180deg,#5aa7fb,#6684f5);
    height:320rpx;
    width:100%;
    font-size:20rpx;
    flex-direction: column;
    justify-content: center;
    .score{
        font-size:32rpx;
    }
}
.scorelist{
    margin-top:50rpx;
    .scoreitem{
        justify-content: space-between;
    }
    .scoreitem:not(:first-child){
        margin-top:20rpx;
    }
    .iteminfo{
        flex-direction: column;
        align-items: flex-start;
        .time{
            font-size:22rpx;
            color:#aaa;
            margin-top:5rpx;
        }
    }
}
.itemcolor{
    color:#ff6325;
}