.main {
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}

.columnGroup {
    font-size: 30rpx;
    padding: 0 10rpx;
}

.columnGroup .item {
    margin: 0 20rpx;
    margin-bottom: 26rpx;
}

.columnGroup .ipt {
    border: 1px solid #e5e5e5;
    border-radius: 8rpx;
    padding: 8rpx 10rpx;
    margin-left: 12rpx;
}

.columnGroup .ipt .weui-input {
    line-height: 1.8;
}

.columnGroup .ipt .txt {
    font-size: 26rpx;
    color: #999;
}

.eaditArea {
    padding: 0 30rpx;
}

.eaditArea .weui-area {
    border: 1px solid #e5e5e5;
    padding: 20rpx;
    font-size: 30rpx;
    height: 200rpx;
    box-sizing: border-box;
    border-radius: 8rpx;
}

.btn-add {
    display: block;
    margin: 0 auto;
    width: 400rpx;
    line-height: 70rpx;
    font-size: 32rpx;
    text-align: center;
    color: #ff5c29;
    border-radius: 8rpx;
    border: 1px solid #ff5c29;
}

.btn-add img {
    display: inline-block;
    height: 26rpx;
    width: 26rpx;
    vertical-align: middle;
    margin-right: 10rpx;
}

.weui-cells {
    color: #666;
}

.smDetail__weui-cells {
    margin-top: 20rpx;
}

.priceBox {
    padding: 20rpx 30rpx;
    line-height: 1.8;
}

.priceBox .flex1 {
    font-size: 30rpx;
}

.addDetail {
    position: relative;
}
.ppt{
    position:relative;
}
.ppt::after{
    position: absolute;
    content:"";
    left:30rpx;
    right:30rpx;
    bottom:0;
    height:1px;
    background:#e5e5e5;
}
// .addDetail::before {
//     position: absolute;
//     content: "";
//     left: 30rpx;
//     right: 30rpx;
//     top: 0;
//     height: 1px;
//     background: #e5e5e5;
// }

.allPriceBox {
    padding: 26rpx 30rpx;
    line-height: 1.8;
    color: #838383;
    font-size: 30rpx;
}

.addressList .item {
    padding: 0 20rpx 30rpx 30rpx;
    margin-top: 0;
    color: #838383;
}

.addressList .addrIcon {
    width: 54rpx;
    height: 54rpx;
    margin-right: 20rpx;
}

.addressList .item__bd {
    padding: 0;
    line-height: 1.2;
    color: #838383;
}

.addressList .remarks {
    margin-bottom: 14rpx;
}

.addressList .item__bd p {
    line-height: 1.2;
    color: #838383;
}

.maskType {
    background: #fff;
    width: 100%;
    height: 600rpx;
    padding: 30rpx 0;
    bottom: 0!important;
    position: fixed;
    z-index: 999;
    p {
        padding: 15rpx 30rpx;
    }
    .flex {
        justify-content: space-between;
        // border-bottom: 1rpx solid #ccc;
        padding: 20rpx;
        font-weight: 400;
        font-size: 30rpx;
        .color {
            color: #ff6325
        }
        .size {
            font-size: 26rpx;
        }
        span {
            border: 1p solid blue
        }
        .title {
            font-weight: bold;
        }
    }
    .itemactive {
        background: #ff6325;
        color: #fff
    }
}

.paySuccess {
    background: #fff;
    width: 540rpx;
    height: 720rpx;
    top: 175rpx;
    left: 105rpx;
    position: fixed;
    z-index: 999;
    padding: 52rpx 65rpx;
    flex-direction: column;
    .task {
        width: 98rpx;
        height: 98rpx;
        margin: 58rpx 0;
    }
    .title {
        border-bottom: 1rpx solid #ccc;
        padding: 20rpx;
        width: 100%;
        font-size: 32rpx;
        text-align: center;
    }
    .paymaskinfo {
        padding: 20rpx 0;
        .replay {
            font-size: 25rpx;
            margin-top: 5rpx;
        }
    }
    .btn {
        width: 100%;
        justify-content: space-between;
        margin-top: 110rpx;
        p {
            width: 45%;
            text-align: center;
            border-radius: 50rpx;
            padding: 10rpx 20rpx;
            box-sizing: border-box;
        }
        .backindex {
            border: 1rpx solid #ff6325
        }
        .sure {
            background: #ff6325;
            color: #fff;
        }
    }
}

.select__weui-cells.ipt {
    border: 1px solid #e5e5e5;
    border-radius: 8rpx;
    padding: 10rpx 10rpx 10rpx 20rpx;
}

.nosite {
    padding: 0 30rpx;
    .site {
        width: 64rpx;
        height: 64rpx;
    }
}

.delete {
    width: 36rpx;
    height: 36rpx;
    line-height: 30rpx;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 34rpx;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: -15rpx;
    right: 0;
}
.tetbox{
    height: 350rpx;
    width:100%;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}
// .tetbox textarea{
//     box-sizing:border-box;
//     height:300rpx;
//     width:100%;
//     padding:25rpx;
//     position: absolute;
//     top:50rpx;
//     left:0;
//     z-index:11
// }
.colorGray{
    color:#808080
}
.colorA{
    color:#1a1a1a
}