.addCardStatus {
    padding: 60rpx 30rpx;
    background: #fff;
    font-size: 30rpx;
    color: #5c5c5c;
    margin-top: 20rpx;
}

.addCardStatus .icon_status {
    width: 80rpx;
    height: 80rpx;
    display: block;
    margin: 0 auto;
}