.newsDetail {
    padding: 30rpx;
    color: #212121;
    line-height: 1.6;
}

.newsDetail__hd {
    margin-bottom: 20rpx;
}

.newsDetail__bd p {
    text-indent: 2em;
}

.newsDetail__hd .title {
    font-size: 32rpx;
}

.newsDetail__bd {
    padding-bottom: 40rpx;
}

.time {
    font-size: 26rpx;
    color: #999999;
}