.navList2 {
    font-size: 28rpx;
    color: #333;
}
.editPhone{
    border:1rpx solid rgb(206, 203, 203);
    border-radius:25rpx;
    font-size:18rpx;
    padding:0rpx 10rpx;
    line-height:25rpx;
    display: inline-block;
    color:#fc8f63
}
